@import './partials/config';

body{
  position: relative;
  background-color: lightblue;
  line-height: 1.4;
}
img{
  max-width: 100%;
}
.cta.btn{
  color: $clr2;
  padding: 14px 30px 10px;
  font: bold 0.8rem/1.5 $f-cambay;
}
.social-btns a{
  display: inline-block;
  text-decoration: none;
  @include dimension(40px,40px);
  line-height: 38px;
  margin-right: 10px;
  font-size: 1.4rem;
  border: 2px solid #000;
  border-radius: 50%;
  text-align: center;
  color: #000;
}
//right away import
@import './partials/header';
@import './partials/carousel';
@import './partials/banners';
@import './partials/hometext';
@import './partials/footer';
@import './partials/media';