/*google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Cambay&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
/* General CSS */
* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  line-height: 1.4;
}
body.hideScrollBar {
  overflow: hidden;
}

img {
  max-width: 100%;
}

.cta.btn {
  color: #032e5a;
  padding: 14px 30px 10px;
  font: bold 0.8rem/1.5 "Cambay", Helvetica, sans-serif;
}

.social-btns a {
  display: inline-block;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 38px;
  margin-right: 10px;
  font-size: 1.4rem;
  border: 2px solid #000;
  border-radius: 50%;
  text-align: center;
  color: #000;
}

header {
  z-index: 9;
}

#logo {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 9;
  width: 4rem;
  height: 2.6rem;
}
#logo .logo {
  position: absolute;
  transition: opacity 0.2s 0.3s ease-in;
}
#logo img.logo:last-child {
  opacity: 0;
}
#logo img.logo:first-child.hide {
  opacity: 0;
}
#logo img.logo:last-child.visible {
  opacity: 1;
}

.burger {
  position: absolute;
  top: 21px;
  right: 15px;
  z-index: 9;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.burger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin-top: 5px;
  transition: 0.5s ease-in-out;
}
.burger span:nth-child(3) {
  position: absolute;
  top: 7.7px;
}
.burger span:nth-child(4) {
  position: absolute;
  left: 0;
}
.burger.active span {
  background: #000;
}
.burger.active span:first-child {
  opacity: 0;
}
.burger.active span:nth-child(2) {
  transform: rotate(-315deg);
}
.burger.active span:nth-child(3) {
  transform: rotate(-45deg);
}
.burger.active span:last-child {
  left: 50%;
  width: 0%;
}

.links {
  background-color: #fff;
  padding-left: 5vw;
  padding-top: 2rem;
  top: -100vh;
  transition: top 0.5s ease-in;
}
.links.active {
  top: 0vh;
}
.links .nav-list {
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.3s 0.35s ease-in;
}
.links.active .nav-list {
  opacity: 1;
  transform: scale(1);
}

.links .nav-list li {
  text-transform: uppercase;
  padding: 4px 0;
  font: bold 1.37rem/1.6rem "PT Sans Narrow", sans-serif;
}
.links .nav-list li:hover:not(li.snl-link) {
  text-decoration: underline;
  cursor: pointer;
}

.links .nav-list.fnl {
  margin-bottom: 25px;
}

.links .nav-list.snl {
  margin-bottom: 25px;
}
.links .nav-list.snl li span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.links .nav-list.snl li ul {
  padding: 10px 15px;
}
.links .nav-list.snl li ul li {
  font: 700 20px/24px "PT Sans Narrow", sans-serif;
}
.links .nav-list.snl li .social-btns {
  margin-top: 15px;
}
.links .nav-list.snl li .social-btns a:hover {
  color: #7295e0;
  border-color: #7295e0;
  box-shadow: 0 0 10px rgba(114, 149, 224, 0.5);
}

.carousel {
  max-height: 775px;
}

.carousel-img:nth-child(1) {
  background: url(../img/bg1.jpg) center/cover;
  z-index: -1;
}

.carousel-box {
  padding: 120px 15px;
  margin-bottom: 70px;
}
.carousel-box .carousel-content img {
  max-width: 220px;
  height: 120px;
  margin-bottom: 15px;
}
.carousel-box .carousel-content h1 {
  font: bold 0.8rem/1.3 "Cambay", Helvetica, sans-serif;
  letter-spacing: 4px;
  color: #fff;
  margin: 0.5rem 0 0.5rem;
}
.carousel-box .carousel-content .cta.btn {
  margin: 7.5px;
}

.control {
  left: 50%;
  transform: translateX(-50%);
  bottom: 12%;
}

.control > li {
  width: 0.7rem;
  height: 0.7rem;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  display: inline-block;
}

.control > li:hover {
  background: #fff;
}

.banners {
  background-color: rgba(3, 46, 90, 0.5);
}

.banners ul li:first-child {
  background-color: #f7ca4c;
}

.banners ul li:last-child {
  background-color: #032e5a;
}

.banners ul li img {
  display: block;
  margin: 0 auto;
  max-height: 50px;
}

#home-product {
  width: 100%;
  position: relative;
  background: #fff url(../img/bg-triangle.png) no-repeat -100vw 100%/200vw;
}

#home-product .info {
  padding: 60px 15px;
}

#home-product .info .text {
  max-width: 560px;
}
#home-product .info .text h1 {
  color: #002945;
  margin-bottom: 8px;
  font: 400 3.1rem/1.2 "PT Sans Narrow", sans-serif;
}
#home-product .info .text .small {
  margin: 15px auto;
  font-size: 1rem;
  font-family: "Cambay", Helvetica, sans-serif;
  color: #002945;
}
#home-product .info .text .fst-italic {
  color: #002945;
  font: bold 1.5rem "Merriweather", serif;
}
#home-product .info .text .cta.btn {
  font-weight: 600;
  color: #fff;
  margin: 15px 0;
}

.web-map {
  background-color: #032e5a;
  padding: 30px 0;
}

.web-map .first {
  margin-bottom: 40px;
}

.web-map ul.f-links {
  color: #fff;
}
.web-map ul.f-links li:hover:not(li.inveb) {
  cursor: pointer;
  text-decoration: underline;
}

.web-map .first ul.f-links li {
  margin-bottom: 10px;
  font: 700 12px/19px "Cambay", Helvetica, sans-serif;
}

.web-map .first ul.f-links li.inveb a {
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #fff;
}
.web-map .first ul.f-links li.inveb a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.web-map .first ul.f-links li.inveb .children {
  padding-left: 10px;
}
.web-map .first ul.f-links li.inveb .children li {
  font: 500 11px/9px "Cambay", Helvetica, sans-serif;
}

.second .social-btns {
  margin-bottom: 15px;
  padding: 0 20px;
}
.second .social-btns a {
  border-color: #fff;
  border-radius: 50%;
  color: #fff;
  width: 36px;
  height: 36px;
  line-height: 32px;
  margin-left: 10px;
  font-size: 1.2rem;
}
.second .social-btns a:hover {
  color: #f7ca4c;
  border-color: #f7ca4c;
  box-shadow: 0 0 10px rgba(247, 202, 76, 0.9);
}

.second .legal li {
  margin-bottom: 4px;
  font: 12px/19px Arial, Helvetica, sans-serif;
}

.colophon {
  background: #002945;
}
.colophon .content {
  padding: 20px 35px;
  color: #fff;
  font: 12px/19px "Cambay", Helvetica, sans-serif;
}

@media (min-width: 576px) {
  #logo {
    position: absolute;
    top: 38px;
    left: 50px;
    width: 5.3rem;
    height: 2.8rem;
  }
  .burger {
    position: absolute;
    top: 50px;
    right: 50px;
  }
  .carousel-box {
    padding: 140px 30px 150px;
  }
  .carousel-box .carousel-content img {
    max-width: 320px;
    max-height: 120px;
    height: auto;
  }
  .carousel-box .carousel-content h1 {
    font: bold 1.37rem/120% "Cambay", Helvetica, sans-serif;
  }
  .carousel-box .carousel-content .cta.btn {
    padding: 16px 50px 12px;
  }
  .control {
    bottom: 20%;
  }
  .banners ul li img {
    max-height: 100%;
  }
  #home-product .info {
    margin: 0 auto;
    max-width: 540px;
  }
  .second .social-btns {
    padding: 0;
  }
  .second .social-btns a {
    margin-right: 10px;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .links {
    padding-top: 15vh;
  }
  .nav-list {
    min-height: 50vh;
  }
  .nav-list.fnl {
    padding-right: 8%;
  }
  .nav-list.fnl li {
    font: bold 2.5rem/50px "PT Sans Narrow", sans-serif;
  }
  .nav-list.snl {
    padding-left: 8% !important;
  }
  .nav-list.snl span {
    font: bold 3.75rem/1.1 "PT Sans Narrow", sans-serif;
  }
  .nav-list.snl ul li:last-child {
    width: 50%;
  }
  .carousel-content .cta.btn {
    font-size: 1rem;
  }
  .control {
    bottom: 22%;
  }
  #home-product {
    background-size: cover;
    background-position: 0 100%;
  }
  #home-product .info {
    padding: 75px 15px;
    max-width: 720px;
    background: url(../img/bottlelogo.png) no-repeat;
    background-size: auto 90%;
    background-position: 100% 50%;
  }
  .web-map {
    padding: 45px 0;
  }
  .second .social-btns a:last-child {
    margin-right: 0;
  }
  .colophon .content {
    width: 66.667%;
    margin: 0 16%;
  }
}
@media screen and (min-width: 992px) {
  .carousel-box {
    padding: 140px 15px 200px;
    margin-bottom: 100px;
  }
  .carousel-box .carousel-content {
    margin: 0 auto 60px; /*added bottom 60px*/
  }
  .carousel-box .carousel-content img {
    max-width: 390px;
    max-height: 190px;
  }
  .carousel-box .carousel-content h1 {
    margin: 0 3rem 1.2rem;
  }
  #home-product .info {
    max-width: 960px;
  }
}/*# sourceMappingURL=style.css.map */