header{
  z-index: 9;
  // background-color: tomato;
}
#logo{
  @include pAbs(15px,0,0,15px);
  z-index: 9;
  @include dimension(4rem, 2.6rem);
  .logo{
    @include pAbs;
    //js
    transition: opacity .2s .3s ease-in;
  }
   //JS
   img.logo:last-child{
    opacity: 0;
  }
  //JS
  img.logo:first-child.hide{opacity: 0;}
  img.logo:last-child.visible{opacity: 1;}
}

.burger{
  @include pAbs(21px,15px);
  z-index: 9;
  @include dimension(30px, 30px);
  cursor: pointer;

  span{
      display: block;
      @include dimension(30px, 3px);
      background-color: #fff;
      margin-top: 5px;
      transition: .5s ease-in-out;

      &:nth-child(3){
          @include pAbs(7.7px);
      }
      &:nth-child(4){
          @include pAbs;
          left: 0;
      }
  }
  // JS
  &.active span{background: #000;}
  &.active span:first-child{opacity: 0;}
  &.active span:nth-child(2){transform: rotate(-315deg);}
  &.active span:nth-child(3){transform: rotate(-45deg);}
  &.active span:last-child{
      left: 50%;
      width: 0%;
  }
}

.links{
  // background-color: #f5c1c1;
  background-color: #fff;
  padding-left: 5vw;
  padding-top: 2rem;
   //Js
   top: -100vh;
   transition: top .5s ease-in;
  &.active{
    top: 0vh;
  }
  .nav-list{
    opacity: 0;
    transform: scale(.8);
    transition: all 0.3s 0.35s ease-in;
  }
  &.active .nav-list{
    opacity: 1; 
    transform: scale(1);
  }
}

.links .nav-list li{
  text-transform: uppercase;
  padding: 4px 0;
  font: bold 1.37rem/1.6rem $f-PT;

  &:hover:not(li.snl-link){
    text-decoration: underline;
    cursor: pointer;
  }
}
//first nav
.links .nav-list.fnl{
  margin-bottom: 25px;
}
//second nav
.links .nav-list.snl{
  margin-bottom: 25px;
  li{
    span:hover{
      text-decoration: underline;
      cursor: pointer;
    }
    ul{
      padding: 10px 15px;
      li{
        font: 700 20px/24px $f-PT;
      }
    }
    .social-btns{
      margin-top: 15px;
      
      a:hover{
        color: #7295e0;
        border-color: #7295e0;
        box-shadow: 0 0 10px rgba(114, 149, 224, 0.5);
      } 
    }
  }
}