@media (min-width: 576px){
  // Header
  #logo{
    @include pAbs(38px,0,0,50px);
    @include dimension(5.3rem, 2.8rem);
  }
  .burger{
    @include pAbs(50px,50px);
  }
  // Carousel
  .carousel-box{
    padding: 140px 30px 150px;

      .carousel-content img{  
        max-width: 320px;
        max-height: 120px;
        height: auto;
      }
      .carousel-content h1{
        font: bold 1.37rem/120% $f-cambay;
      }

      .carousel-content .cta.btn{
        padding: 16px 50px 12px;
      }
  }
  .control{
    bottom: 20%;
  }
  // banners
  .banners ul li img{
    max-height: 100%;
  }
  //homeText
  #home-product .info{
    margin: 0 auto;
    max-width: 540px;
  }
  //footer
   .second .social-btns{
    padding: 0;

    a{
      margin-right: 10px;
      margin-left: 0;
    }
  }
}

@media (min-width: 768px){
  //header
  .links{
    padding-top: 15vh;
  }
  .nav-list{
    min-height: 50vh;
  }
  .nav-list.fnl{
    padding-right: 8%;
    li{
      font: bold 2.5rem/50px $f-PT;
    }
  }
  .nav-list.snl{
    padding-left: 8% !important;

    span{
      font: bold 3.75rem/1.1 $f-PT;
    }

    ul li:last-child{
      width: 50%;
    }
  }
  //carousel
  .carousel-content .cta.btn{
    font-size: 1rem;
  }
  .control{
    bottom: 22%;
  }
  //homeText
  #home-product{
    background-size: cover;
    background-position: 0 100%;
  }
  #home-product .info{
    padding: 75px 15px;
    max-width: 720px;
    background: url(../img/bottlelogo.png) no-repeat;
    background-size: auto 90%;
    background-position: 100% 50%;
  }
  //footer
  .web-map{
    padding: 45px 0;
  }
  .second .social-btns{
    a:last-child{
      margin-right: 0;
    }
  }
  .colophon{
    .content{
      width: 66.667%;
      margin: 0 16%;
    }
  }
}

@media screen and (min-width: 992px){
  //sliders
  .carousel-box{
    padding: 140px 15px 200px;
    margin-bottom: 100px;

    .carousel-content{
      margin: 0 auto 60px; /*added bottom 60px*/
    }
    .carousel-content img{  
      max-width: 390px;
      max-height: 190px;
    }
    .carousel-content h1{
      margin: 1rem 3rem 1.2rem;
    }
  }
  //home
  #home-product .info{
    max-width: 960px;
  }
}